body {
    // background-color: #E4E6EB;
    background-color: #fff;
    font-family: 'Assistant',
        sans-serif;
    color: #071C4D;
}

// navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin: -10px -18px -8px 0 !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #fff;

    &:hover {
        background-color: #0D3FB2 !important;
        color: #fff;

    }
}


// header

header {
    padding: 180px 0 165px;
    background-image: url(../images/header.jpg);
    background-size: cover;
    margin-top: -70px;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display',
            serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        color: #fff;
        background-color: #FF9E53;

        &:hover {
            color: #fff;
            background-color: rgb(253, 110, 1);
        }
    }

}

// statistik
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        // padding-left: 40px;
        background-color: #fff;

    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    P {
        font-size: 20px;
        font-weight: lighter;
    }
}



// popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;
}

.section-popular-heading {
    margin-top: 150px;

    h2,
    p {
        color: #fff;
    }

    h2 {
        font-family: 'Playfair Display',
            serif;
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #ddd;
            color: #fff;
            padding: 30px;
            margin-bottom: 30px;

            .travel-location {
                font-size: 18px;
                color: #071C4D;
            }

            .travel-title {
                font-weight: bolder;
                color: #071C4D;
                font-size: 25px;
            }

            .travel-button {
                .btn-travel-details {
                    background-color: #FF9E53;
                    color: #fff;

                    &:hover {
                        background-color: rgb(253, 110, 1);
                        color: #fff;
                    }
                }
            }
        }
    }
}

// networks

.section-networks {
    background-color: #fff;
    margin-top: -180px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display',
            serif;
        font-weight: bold;
        font-size: 40px;
    }

    img {
        max-width: 100%;
    }

    p {
        font-size: 18px;
    }
}

// testimonial
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 560px;

    h2 {
        font-family: "Playfair Display",
            serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

    }

    .testimonial-content {
        min-height: 380px;

        img {
            width: 120px;
            height: 120px;
        }

        h3 {
            font-size: 22px;
            font-weight: 600;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            min-height: 200px;
            // font-weight: lighter;
        }
    }

    .trip-to {
        font-size: 22px;
    }

    hr {
        margin-left: -20px;
        margin-right: -20px;
    }


    .btn-help {
        background-color: #F2F2F2;
        color: #C3C3C3;

        &:hover {
            background-color: #fafafa;
            color: #C3C3C3;
        }
    }

    .btn-started {
        color: #fff;
        background-color: #FF9E53;

        &:hover {
            color: #fff;
            background-color: rgb(253, 110, 1);
        }
    }
}


// footer
.section-footer {
    h5 {
        color: #071C4D;
        font-size: 22px;
        font-weight: 600;
    }

    a {
        color: #071C4D;
        font-size: 18px;
    }
}




// DETAILS & checkout

.section-details-header {
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -200px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 35px;
    }

    .breadcrumb a {
        background-color: transparent;
        padding: 0;
        color: black;
        // margin-bottom: 35px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: 600;
            color: #071C4D;
        }
    }
}

.card-details {
    padding: 30px;
    border-radius: 11px;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .gallery {
        .xzoom-container {
            // display: block;

            .xzoom {
                max-width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #1ABC9C;
                box-shadow: none;
            }
        }
    }

    h2 {
        font-weight: 600;
        font-size: 20px;
        color: #071c4d;
    }

    .features {
        margin-top: 30px;

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;

            h3 {
                color: #071C4D;
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 0;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                margin-bottom: 0;
                color: #b1b1b1;
            }
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
}


.card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;

    h2 {
        font-weight: 600;
        font-size: 20px;
        color: #071c4d;
    }

    .members {
        .member.image {
            width: 40px;
            height: 40px;
        }
    }

    .trip-informations {
        th {
            font-weight: 300;
            font-size: 18px;
            color: #071c4d;
        }

        td {
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }
    }
}

.join-container {
    margin-top: -15px;

    .btn-join-now {
        color: #fff;
        background-color: #FF9E53;
        border-radius: 0;

        &:hover {
            color: #fff;
            background-color: rgb(253, 110, 1);
        }
    }
}


// checkout
.form-inline {
    button {
        border-radius: 4px;
        background: #071c4d;
        color: #ffffff;

        &:hover {
            border-radius: 4px;
            background: #1a57e4;
            color: #ffffff;

        }
    }
}

.member {
    .disclaimer {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;

    }

    h3 {
        font-weight: 600;
        font-size: 14px;
        color: #071c4d;
    }
}

.trip-informations {
    .text-total {

        .text-blue,
        .text-orange {
            font-weight: 600;
            font-size: 18px;
        }

        .text-blue {
            color: #071C4D;
        }

        .text-orange {
            color: #FF9E53;
        }
    }
}

.card-right {

    .instruc {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;

    }
}

.bank {
    .content {
        p {
            font-size: 16px;
            color: #071c4d;
            margin-bottom: 0;
        }
    }
}

.join-container {
    .bank {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #fff;

        img {
            width: 45px;
            height: 45px;
        }
    }
}





// success
.section-success {

    // height: 90vh;
    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: #ffffff;

        &:hover {
            border-radius: 4px;
            background-color: #1a57e4;
            color: #ffffff;
        }
    }

}


// login & register

.auth-container,
.register-container,
.reset-container {
    .card {
        @media (min-width:992px) {
            margin-top: 110px;
        }
    }
}

.auth-container {
    @media (min-width:992px) {
        background: linear-gradient(90deg, #ffffff 60%, #E4E6EB 40%);
        width: 100vw;
        height: 100vh;
    }
}

.reset-container {
    @media (min-width:992px) {
        width: 100vw;
        height: 100vh;
    }
}

.register-container {
    @media (min-width:992px) {
        background: linear-gradient(90deg, #ffffff 60%, #E4E6EB 40%);
        width: 100vw;
        height: 120vh;
    }
}


.page-auth {
    height: 100vh;

    .section-left {
        h1 {
            font-family: "Playfair Display";
            font-weight: 600;
            font-size: 45px;
            color: #071c4d;
        }
    }

    .section-right {
        p {
            margin-bottom: 5px;
            color: #bfbfbf;
        }

        a {
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            color: #bfbfbf;
        }

        .inline {
            a {
                font-size: 14px;
            }
        }
    }
}


// page travel
// .post.post-thumb .post-img:after {
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;

// }

// .post.post-thumb .post-body {
//     position: absolute;
//     margin: 0px;
//     padding: 0px 5%;
//     z-index: 20;
//     bottom: 5%;
//     background-color: transparent;
// }

// .post.post-thumb .post-title a {
//     color: #fff;
// }

// .post.post-thumb .post-title a:hover,
// .post.post-thumb .post-title a:focus {
//     color: #ee4266;
// }

// .post.post-thumb .post-meta li {
//     color: #fff;
// }

// .post.post-thumb .post-meta li a {
//     color: #fff;
// }

// .post.post-thumb .post-meta li a:hover,
// .post.post-thumb .post-meta li a:focus {
//     color: #ee4266;
// }

// .post.post-row:after {
//     content: '';
//     display: table;
//     // clear: both;
// }

// .post.post-row{
//     .post-img {
//         float: left;
//     }

//     .post-body {
//         margin-right: 100px;
//         padding: 0;
//         // height: 00px;
//     }
// }

// .page-travel {
//     padding: 30px 30px 30px 30px;
//     border-radius: 11px;

//     h1 {
//         font-weight: 600;
//         font-size: 26px;
//         color: #071c4d;
//     }

//     p {
//         font-weight: 300;
//         font-size: 18px;
//         color: #b1b1b1;
//     }

    .travels {
        .card-travels {
            height: 380px;
            width: 260px;
            // height: 100%;
            background-color: #ddd;
            color: #fff;
            padding: 30px;
            margin-bottom: 30px;
        }

        .travel-location {
            font-size: 18px;
            color: #071C4D;
        }

        .travel-title {
            font-weight: bolder;
            color: #071C4D;
            font-size: 25px;
        }

        .btn-travel-details {
            background-color: #FF9E53;
            color: #fff;

            &:hover {
                background-color: rgb(253, 110, 1);
                color: #fff;
            }
        }
    }

    .page{
        margin-top: -20px;
    }
// }

.category-widget {
    ul li {
        padding: 15px 0px;
        border-bottom: 1px solid #e8eaed;
        list-style: none;
        margin-left: -15px;
    }

    ul li a {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
    }

    ul li a span {
        float: right;
        font-size: 14px;
        color: #97989b;
        margin-left: 15px;
    }
}

.btn-country {
    // background-color: #FF9E53;
    // color: #042777;
    font-weight: 600;

    &:hover {
        // background-color: rgb(253, 110, 1);
        color: #071C4D;
        font-weight: bold;
    }
}

.page {
    padding-bottom: -30px;
}
